.corp_vs_llc_container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.corp_vs_llc_heading {
    text-align: center;
    margin: 40px 0 50px;
    font-size: 1.8rem;
    color: #333;
}

.corp_vs_llc_main {
    margin-top: 60px;
    display: flex;
    gap: 20px;
}

.corp_vs_llc_left {
    width: 75%;
}

.corp_vs_llc_right {
    width: 25%;
    padding: 10px 20px 30px 20px;
    margin: 0 10px;
    border-radius: 8px;
    height: 300px;
    border: 4px solid #003B5C;
    text-align: center;
}

.corp_vs_llc_paragraph {
    font-size: 1rem;
    line-height: 1.4;
    color: #555;
    margin-bottom: 20px;
}
.comparison-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
    border-collapse: collapse;
}

.comparison-table th,
.comparison-table td {
    border: 2px solid #ddd;
    padding: 8px 5px;
    text-align: left;
    font-size:14px;
    vertical-align: top;
}

.comparison-table th {
    background-color: #fff;
    font-size: 1.1em;
    color: #d32f2f;
}

.comparison-table td {
    background-color: #f9f9f9;
    color: #333;
}
.corp_heading{
    font-size:26px;
    fot-weight:500;
    color: #333;

}

.tick {
    color: #d32f2f;
    margin-right: 5px;
    font-size: 1.2em;
}

.comparison-table tr:not(:last-child) td {
    border-bottom: 2px solid #ddd;
}

.corp_vs_llc_right h3 {
    font-size: 32px;
    color: #d1344F;
    margin: 20px auto 10px auto;
    width: 80%;
    line-height: 40px;
}

.corp_vs_llc_right p {
    font-size: 18px;
    margin: 0 0 30px 0;
}

.corp_vs_llc_button_full {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #DA5E73;
    border-radius: 5px;
}

.corp_vs_llc_button {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #DA5E73;
    color: #fff;
}
.llc_list li{
    color:#d1344F;
}
.llc_list li:hover{
    text-decoration:underline;
    cursor:pointer;
}
.llc_div{
    margin-left:30px;
}

@media(max-width: 768px) {
    .corp_vs_llc_container {
        width: 90%;
    }
    .corp_vs_llc_main {
        display: block;
    }
    .corp_vs_llc_left {
        width: 100%;
    }
    .corp_vs_llc_right {
        display: none;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .corp_vs_llc_container {
        width: 90%;
    }
}
