.FQA_LLC_Tax_Status_Election-heading {
    text-align: center;
    color: #3c3c3c;
    font-size: 36px;
    font-weight: 500;
    margin-top: 70px;
    width: 60%;
    margin: 70px auto;
}

.FQA_LLC_Tax_Status_Election-container {
    padding: 20px;
}

.FQA_LLC_Tax_Status_Election-list {
    list-style-type: none;
    padding: 0;
}

.FQA_LLC_Tax_Status_Election-list-item {
    margin: 10px 0;
    cursor: pointer;
    color: #d1344f;
}

.FQA_LLC_Tax_Status_Election-question:hover {
    text-decoration: underline;
}

.FQA_LLC_Tax_Status_Election-section {
    margin-top: 40px;
}

.FQA_LLC_Tax_Status_Election-back-to-top {
    cursor: pointer;
    color: #d1344f;
    margin-top: 20px;
    display: inline-block;
}

.FQA_LLC_Tax_Status_Election-back-to-top:hover {
    text-decoration: underline;
}
