.cartCardContainer {
    background-color: #f8f7f2;
    width: 80%;
    padding: 23px;
    border-radius: 8px;
  }
  
  .cartCard h4 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px; /* Smaller font size for h4 */
  }
  
  .cartCard h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px; /* Smaller font size for h3 */
  }
  
  .cartCard ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
  
  .cartCard ul li {
    margin-bottom: 10px;
    font-size: 12px; /* Smaller font size for list items */
  }
  
  .priceRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
  }
  
  .priceRow h3 {
    margin: 0;
    font-size: 14px; /* Smaller font size for h3 within priceRow */
  }
  
  .priceRow p {
    margin: 0;
    font-size: 12px; /* Smaller font size for paragraphs within priceRow */
  }
  
  .price {
    font-weight: bold;
    text-align: right;
  }
  
  .totalRow {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
  }
  
  .subtotalRow {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .additionalInfo {
    font-size: 10px; /* Smaller font size for additional information */
    color: #888;
    margin-top: 10px;
  }
  

  .modifiedText{
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: #D1344F;
  }

  .cartCardBtn {
    background-color: #D1344F;
    color: var(--whiteColor);
    width: 90%;
    text-align: center;
    padding: 15px;
    margin: 20px auto;
    display: block; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
