/* .adminDashboard{
    background-color: #e6e7e9;
    display: flex;
    gap: 20px;
    color : white;
    border-top: 2px solid var(--cherryRed);
}

.sideMenuContainer{
    width: 17%;
    padding: 20px;
    background-color: var(--darkBlue);
    border-right: 2px solid var(--cherryRed);
}

.adminChartContainer{
    width: 75%;
    margin-right: 23px;
    margin-top: 50px;
    height: 100vh;
}
 */




.adminDashboard{
    /* background-color: #0f1535; */
    background-color: #181c1f;
    /* background-color: #212529; */
    display: flex;
    gap: 20px;
    color : white;
    border-top: 2px solid var(--primaryGreenColor);
}

.sideMenuContainer{
    width: 20%;
    border-right: 1px solid var(--primaryGreenColor);
    padding: 20px;
    background-color: #212529;

}

.adminChartContainer{
    width: 80%;
    margin-right: 23px;
    margin-top: 50px;
    height: 100vh;
}






