.faq-container {
    /* padding: 20px; */
    max-width: 100%;
    margin: auto;
}

.faq-question {
    color: #D1344F;
    cursor: pointer;
    list-style-type: disc;
    margin-bottom: 20px;
}

.faq-section {
    padding: 20px 0;
}
.faq-section p , ul li{
    text-align:justify;
}

.back-to-top {
    color: #D1344F;
    cursor: pointer;
    text-align: left; /* Align the "Back to Top" to the right */
}

.back-to-top:hover, .faq-question:hover {
    text-decoration: underline;
}

.faq-list {
    padding-left: 20px;
}

.faq-list-item {
    margin-bottom: 20px;
}

.faq-sublist {
    padding-left: 20px;
    list-style-type: disc;
}

.faq-sublist-item {
    margin-bottom: 10px;
}
