.clientDocumentStatusContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: var(--whiteColor);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  /* border-bottom: 2px solid #ddd; */
}

.headerContainer h3 {
  margin: 0;
  font-weight: bold;
  width: 48%;
}

.tableContainer {
  margin-top: 10px;
}

.rowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.cellContainer {
  width: 48%;
}

@media (max-width: 600px) {
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .headerContainer h3 {
    width: 100%;
  }

  .rowContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .cellContainer {
    width: 100%;
    margin-bottom: 5px;
  }
}

.statusLabel {
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}

.statusPending {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.statusProcessing {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.statusVerified {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.rowContainer p {
  margin: 0;
}
