.Delaware_Filing_Forms-app {
    display: flex;
    width: 85%;
    margin: 20px auto;
  }
  
  .Delaware_Filing_Forms-content-area {
    flex-grow: 1;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .Delaware_Filing_Forms-main-content {
    width: 75%;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .Delaware_Filing_Forms-main-content h2 {
    margin: 30px 0;
  }
  
  .Delaware_Filing_Forms-cta {
    width: 35%;
    border: 4px solid #3c3c3c;
    padding: 20px;
    height: 270px;
    text-align: center;
  }
  
  .Delaware_Filing_Forms-cta h2 {
    font-size: 30px;
    margin: 25px auto;
    width: 80%;
    color: #d1344f;
  }
  
  .Delaware_Filing_Forms-main-content ul li{
    margin-left:20px;
    margin-bottom:5px;
    color:#3c3c3c;
    font-size:14px;
  }
  .Delaware_Filing_Forms-main-content button {
    width: 30%;
    padding: 10px 20px;
    background-color: #d1344f;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .image_Delaware_Filing_Forms{
    object-fit:cover;
    height:200px;
    width:300px;
  }
  
  .img_Delaware_Filing_Forms{
    display:flex;
    gap:2rem;
  }
  
  .Delaware_Filing_Forms-cta p {
    font-size: 14px;
    margin: 18px auto 25px;
  }
  
  .Delaware_Filing_Forms-cta button {
    background-color: #ff5a5a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  
  /* for top_main image */
  .top_main_image_Delaware_Filing_Forms {
    height: 185px;
    width: 100%;
    overflow: hidden;
    position: relative; /* Positioning the container relative to allow absolute positioning of the text */
  }
  
  .top_Delaware_Filing_Forms_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .image_over_paragraph_Delaware_Filing_Forms {
    position: absolute; /* Positioning the text absolutely within the container */
    color: #003B5C;
    top: 6vh;
    width:40%;
    text-align: left; /* Centering the text horizontally */
    margin: 0 auto 0 17%; /* Ensuring the text block is centered */
    padding: 10px;
    font-size: 36px; /* Adjust font size as needed */
    font-weight:500;
  }
  
  
  
  
  
  

  






